---
import { Image } from "@unpic/astro";
interface Props {
  href: string;
  src: string;
  title: string;
  tags: string[];
}

const { href, src, title, tags } = Astro.props;
---

<article>
  <a href={href}>
    <Image
    src={"/thumbnails/" + src + ".png"}
    layout="constrained"
    width={480}
    height={128}
    background="#8a2be2"
    alt={title}
    />
  </a>
  <div class="card-info">
    <h3>
      <a href={href}>{title}</a>
    </h3>

    <div class="tags">
      {tags.map((tag) => <span>{tag}</span>)}
    </div>
  </div>
</article>
<style>
  article{
    background-color: rgb(238, 238, 238)   ; 
    background: linear-gradient(90deg,rgb(224, 239, 242),rgb(239, 228, 243));
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;
  
  }
  img{
  }
  article:hover{
  
    transform: scale(0.95);
    
  }
  
  a{
    color: rgb(50, 49, 49);
    font-family: Arch;
    font-size: 1.2rem;
  }
  .card-info,
  .tags {
    display: flex;
    flex-wrap: wrap;
    column-gap: 0.2rem;
  }
  .card-info {
    justify-content: space-between;
    align-items: baseline;
    padding: 0 0.5rem;
  }
  .tags span {
    background-color: rgb(225, 220, 220);
    
    color: rgb(99, 98, 98);
    border-radius: 5px;
    
   
    padding: 0.4rem;
  }
</style>
